@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

nav {
    background-color: #101010;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #101010;
    border-bottom: 2px solid #ff8a00;
}


header {
    background: #101010;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.live-dot::before {
    color: #ffffff;
    content: '.';
    font-size: 24px;
    position: relative;
    bottom: 13px;
   animation: glow 4s ease infinite;
}

.red-gradient {
    background: linear-gradient(to right, #ff8a00 0%, #ff4d00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

h3 {
    color: white;
    background-color: #101010;
    font-size: 30px;
    text-align: center;
    padding: 16px;
}

.level-header {
    font-size: 58px;
    background: linear-gradient(to right, #ff8a00 0%, #ff4d00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 24px;
}



.subheader {
    color: white;
    font-size: 36px;
    margin: 16px 24px 24px 0;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}

button {
    background: linear-gradient(to right, #ff8a00 0%, #ff4d00 100%);
    color: white;
    border-radius: 10px;
    border-color: #000000;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
    
}

button:hover {
    color: white;
    border-color: white;
    box-shadow: -1px 6px 19px rgb(0 0 0 / 40%);
}

a:hover {
    color: #ff8a00;
    transition: 300ms;
}

a {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.logo {
    width: 150px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.stats__image--wrapper:hover {
    background-color:white;
    color: white;
    border-color: #000000;
    box-shadow: -1px 6px 19px rgba(225, 95, 14, 0.7)
}

.stats__image--wrapper {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 600px;
    border-radius: 24px;
    box-shadow: -1px 6px 19px rgb(0 0 0 / 40%);
}

#contact,
#socials,
footer {
    padding: 48px 0;
}
 /*

  LEARN

*/

.section__description--parawhite {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 12px;
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    padding-right: 12px;
}



.discord__image {
    box-shadow: -1px 6px 19px rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: 600px;
    border-radius: 24px;
    margin-right: 48px;
    margin-bottom: 24px;
    margin-top: 24px;
    background: linear-gradient(to right, #ff8a00 0%, #ff4d00 100%);
}

.white {
    color: white;
}

#learn,
#watch,
#discord {
        background-image: url('./assets/Cpt\ Price.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 55.5%;
        background-position-y: 30%;
        padding-bottom: 24px;
}

.white-about {
    color: white;
    font-weight: 600;
    border-bottom: 2px solid #ff8a00;
    font-size: 45px;
}

.learn-header {
    background-color: transparent;
    background: linear-gradient(to right, #ff8a00 0%, #ff4d00 100%);
    color: white;
    padding: 12px;
}
 

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;

}

.section__description--background:hover {
    border-color: #000000;
    box-shadow: -1px 6px 19px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.473);
}

.section__description--background {
    background-color: #202020;
    width: 300px;
    border-radius: 25px;
    padding: 24px;
    box-shadow: -1px 6px 6px rgb(0 0 0 / 40%);
    margin: 24px;
    
}

.section__description--social {
    font-weight: 700;
    font-size: 30px;
    margin-top: 16px;
}




@keyframes glow {
    0% {
        color: #ffc2c2;
    }

    50% {
        color: red;
    }

    100% {
        color: #ffc2c2;
    }


}



img {
    width: 100%;
}

.section__description--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 12px;
    color: whitesmoke;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
}

.about__description--button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;

}

/*

SOCIALS

*/

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    list-style: none;
    padding-left: 0px;
    margin: 0px 10px;
}

.social-links {
    width: 20px;
}


/*

CONTACT

*/

#contact {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(0, 0, 0, 0.2);
}

.contact-header {
    color: white;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
    color: white;
}

input, textarea {
    color: black;
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6 12px;
}

/*

SPONSORS

*/

#sponsors {
    background-color: #101010;
    padding-bottom: 24px;
    border-bottom: 2px solid #ff8a00;
}


.sponsors {
    background-color: white;
    width: 350px;
    padding: 12px;
    border-radius: 25px;
    list-style-type: none;
    margin: 24px;
}

.sponsors:hover {
    box-shadow: -1px 6px 19px #ffffff66;
}

.sponsor__image--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*

FOOTER

*/

footer {
    background-color: #101010;
    padding-left: 48px;
    padding-right: 48px;
}

.section__description--footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    max-width: 200px;
    height: 200px;
    margin: -90px 48px -90px 0;
}

.footer__links {
    display: flex;
    flex-direction: row;
}

.footer__link {
    padding: 0 16px;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer--wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

.footer-font {
    margin-bottom: 10px;
    color: white;
    font-size: 38px;
    border-bottom: 2px solid #ff8a00;
}

/*

LIVE

*/

#watch {
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 48px 48px 48px;
    flex-direction: column;
}

.white-live {
    color: white;
    font-weight: 600;
    border: 2px solid red;
    font-size: 45px;
    border-radius: 5px;
    padding-right: 12px;
    margin-bottom: 16px;
}

.white-live::before {
    color: #ff6363;
    content: '.';
    font-size: 45px;
    position: relative;
    bottom: 24px;
    animation: glow 4s ease infinite;
}

.video-player {
    border: 2px solid #ff8a00;
}

.player {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__description--player {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*

CONTENT

*/


#content {
    padding-bottom: 24px;
    background-color: #101010;

}


.content-header {
    background-color: transparent;
    background: linear-gradient(to right, #ff8a00 0%, #ff4d00 100%);
    color: white;
    margin-bottom: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.youtube-player {
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 24px;
}

.youtube-header {
    background: linear-gradient(to right, #ff8a00 0%, #ff4d00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 12px;
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-size: 45px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.youtube-header:hover {
    font-size: 47px;
    transition: 300ms;
}

/* SMALLL PHONE, TABLET, LARGE SMARTPHONES*/
@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }

    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        text-align: center;
        font-size: 60px;
    }

    .subheader {
        text-align: center;
        font-size: 28px;
    }
    
    .logo {
        max-width: 300px;
        width: 100%;
    }

    .home__description--button {
        max-width: 240px;
    }
    
    ul {

    }

    .section__description {
        flex-direction: column;
    }

    .section__description--player {
        flex-direction: column;
    }

    .section__description--wrapper {
        width: 100%;
    }

    .stats__image--wrapper {
        width: 100%;
    
    }

    .about__image--wrapper {
        width: 100%;
    }

    #discord .section__description {
        flex-direction: column-reverse;
    }
    
    .social-links {
        max-width: 20px;
        width: 100%;
    }

    footer {
        padding: 48px 48px 0px 24px;
    }

    .footer__logo {
        max-width: 200px;
        margin-bottom: -70px;
        margin-left: 60px;
    }

    .footer__link {
        padding: 0 4px;
        font-size: 18px;
    }

    .footer__links {
        margin-bottom: 24px;
    }

    .sponsors {
        max-width: 350px;
        width: 100%;
    }


    .section__description--footer {
        flex-direction: column;
    }

    .footer--wrapper
    {
        padding-bottom: 16px;
    }

    .discord__image {
        margin-left: 18px;
    }

    header {
        padding: 48px;
    }

    .player {
        display: none;
    }

    .youtube-player {
        margin-bottom: 48px;
    }




    



}